@charset "utf-8";

// @import "~bulma/sass/utilities/_all";
// @import "~bulma/sass/components/dropdown";
// @import "~bulma/sass/components/navbar";
// @import "~bulma/sass/elements/form";
// @import "~bulma/sass/elements/table";

// Set your brand colors

$deneme-link: #e5396b;
$deneme-warning: #ffc107;
$deneme-blue: #3273dc;
$deneme-lighter: #fafafa;
$mobile: 769px;
$text: #0000008a;
$size-5: 1.2rem;
//örn: .is-size-5 { font-size: 1.2rem !important;}
// default: $size-5: 1.25rem;

// Update Bulma's global variables
$family-sans-serif: "Rubik", sans-serif;
$warning: $deneme-warning;
$primary: $deneme-blue;
$link: $deneme-link; //örn: .navbar.is-link { background-color: #e5396b; color: #fff;}
$widescreen-enabled: true;
$fullhd-enabled: false;
$navbar-background-color: transparent;
$navbar-item-hover-background-color: transparent;
$navbar-breakpoint: $mobile;
$navbar-height: 5rem; //örn:  .navbar {min-height: 5rem;}
//default: .navbar-brand { min-height: 3.25rem;}
$navbar-item-img-max-height: 3.5rem;
$table-background-color: transparent;

// Update some of Bulma's component variables
$body-background-color: $deneme-lighter;
$control-border-width: 1px;
$tabs-link-padding: 0.5em 0.8em; //örn: .tabs a {padding: .5em .8em; }
$tabs-border-bottom-color: transparent;
$input-focus-border-color: $primary;
$input-focus-box-shadow-color: rgba($primary, 0.25);
// $input-border-color: transparent;
// $input-shadow: none;

$sizeUnit: em;
$marginKey: "m";
$paddingKey: "p";
$separator: "-";
$sizesKey: (
  ("none", 0),
  ("xxs", 0.125),
  ("xs", 0.25),
  ("sm", 0.5),
  ("md", 1),
  ("lg", 2),
  ("xl", 4),
  ("xxl", 8)
);
$positions: (("t", "top"), ("r", "right"), ("b", "bottom"), ("l", "left"));

@function sizeValue($key, $value) {
  @return if($key == "none", 0, $value + $sizeUnit);
}

@each $size in $sizesKey {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);
  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue);
  }
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue);
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
  }
}

// Import Bulma and Buefy styles
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/buefy/src/scss/buefy";

// Örnekler

// <h1 class="has-text-weight-medium is-marginless">
// .is-marginless {
//   margin: 0!important;
// }

// $navbar-item-img-max-height: 3.5rem;
// default:  $navbar-item-img-max-height:1.75rem;
// .navbar-item img {
//   max-height: 3.5rem;
// }

// $navbar-background-color: transparent;
// default: $navbar-background-color: white;

// <nav  class="navbar is-link">
// $deneme-link: #e5396b;  // navbar background u için de kullanır
// $link: $deneme-link;   //örn: .navbar.is-link { background-color: #e5396b; color: #fff;}
// default: blue;

//$navbar-height: 5rem;   //örn:  .navbar {min-height: 5rem;}
//default: .navbar-brand { min-height: 3.25rem;}

//   <div class="columns is-vcentered">
//   .columns.is-vcentered {
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
// }

// custom  css  add  ve  bulma classları
//  .has-text-weight-medium {
//   font-weight: 500!important;
// }

// .has-text-weight-normal {
//   font-weight: 400!important;
// }

// <span class="select is-medium is-danger is-fullwidth is-empty">
// .select.is-fullwidth, .select.is-fullwidth select {
//   width: 100%;
// }

// <div data-v-afbd6d28="" class="column is-narrow">  // column u  daraltır
// .column.is-narrow, .column.is-narrow-tablet {
//   -webkit-box-flex: 0;
//   -ms-flex: none;
//   flex: none;
// }

// <div class="container p-l-sm p-r-sm">
// .p-l-sm {
//   padding-left: .5em;
// }
// .p-r-sm {
//   padding-right: .5em;
// }

// <section  class="section is-paddingless has-background-white">
// .is-paddingless {
//   padding: 0!important;
// }

// .is-uppercase {
//   text-transform: uppercase!important;
// }

//<div class="tabs is-full-width is-size-5">
// $size-5: 1.2rem;  //örn: .is-size-5 { font-size: 1.2rem !important;}
// default: $size-5: 1.25rem;

//  <div class="media-content" data-v-a6c25d2c="">
//    <div class="content" data-v-a6c25d2c="">
//      <h4 class="has-text-weight-medium" data-v-a6c25d2c="">

//  .content h4 {
//   margin-bottom: 0.5em!important;
// }

// <div class="vcentered" data-v-a6c25d2c="">
//   <div class="button is-paddingless">

//   .vcentered {
//     align-items: center!important;
//     display: flex!important;
//   }

// <article class="media source-title" >
// .source-title {
//   align-items: center!important;  // dikeyde ortalama, kapsayıcıda çalışır
// }

// bulmanın kendi css i
// .content h1 {
//   font-size: 2em;
//   margin-bottom: .5em;
// }

// <span class="is-hidden-mobile" > test

// @media screen and (max-width: 768px)
// .is-hidden-mobile {
//     display: none!important;   // width:768px de yazı kaybolur
// }

//  <div class="media-left" style="width: 3em">
//  .media-left {
//   margin-right: 1rem;
// }

//  <figure class="media-left">
//    <p class="image is-100x100"  //100*100  image gösterir

//    .p-l-xs {
//     padding-left: .25em;
// }

// .is-pulled-left {
//   float: left!important;
// }

// .content h4 {
//   font-size: 1.25em;
// }

//  <span class="tag is-link badge-tw is-pulled-left">New</span>
// <span class="is-clearfix" data-v-9ced6e72=""></span>

// .badge-tw {
//   position: absolute;
//   margin: -3px 0 0 8px;
//   padding-left: 0.5em!important;
//   padding-right: 0.5em!important;
//   height: 1.7em!important;
// }

// .is-clearfix:after {
//   clear: both;
//   content: " ";
//   display: table;
// }
