@font-face {
  font-family: "Deneme";
  src: url("../fonts/Deneme.eot?gngatr");
  src: url("../fonts/Deneme.eot?gngatr#iefix") format("embedded-opentype"),
    url("../fonts/Deneme.ttf?gngatr") format("truetype"),
    url("../fonts/Deneme.woff?gngatr") format("woff"),
    url("../fonts/Deneme.svg?gngatr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-newspaper:before {
  content: "\e904";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bin:before {
  content: "\e9ad";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-previous:before {
  content: "\ea23";
}
.icon-next:before {
  content: "\ea24";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-share:before {
  content: "\ea82";
}
.icon-google:before {
  content: "\ea88";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}

.mdi-remove:before {
  content: "\e907";
}
.mdi-close:before {
  content: "\e906";
}
.mdi-check:before {
  content: "\e903";
}
.mdi-plus:before {
  content: "\e902";
}
.mdi-alert-circle:before {
  content: "\e901";
}
.mdi-eye:before {
  content: "\e900";
}
.mdi-eye-off:before {
  content: "\e905";
}
.mdi {
  font-size: 1.2rem;
}
.mdi-24px {
  font-size: 1.5rem;
}

.mdi-48px {
  font-size: 3rem;
}

.mdi:before,
.mdi-set {
  display: block;
  font: normal normal normal 24px/1 "Deneme";
  font-size: inherit;
  text-rendering: auto;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.source-icon {
  font-family: "Deneme";
  font-size: 2rem !important;
  width: 2em !important;
  height: 2em !important;
}

@media screen and (max-width: 350px) {   /* width:349px de, font-size:12px olur */
  html {
    /* reducing base font size will reduce all rem sizes */
    font-size: 12px!important;
  }
}

@media screen and (min-width: 351px) {  /* width:350px- 400 px arası  font-size:13px olur */  /* width:351px de, font-size:13px olur */
  html {
    /* reducing base font size will reduce all rem sizes */
    font-size: 13px!important;
  }
}

@media screen and (min-width: 401px) {  /* width:400px de, font-size:13px olur */    /* width:401px de, font-size:15px olur */
  html {
    /* reducing base font size will reduce all rem sizes */
    font-size: 15px!important;
  }
}

@media screen and (min-width: 501px) {   /* width:500px de,font-size:15px olur */
  html {
    /* reducing base font size will reduce all rem sizes */
    font-size: 16px!important;
  }
}

.tabs li a.is-active {
  border-bottom-color: #E5396B;
  color: #E5396B;
}

.w-100p {  /*örn: <div class="select w-100p">*/
  width: 100%;
}




/* .container {
  /* margin: 0 auto; */
  /* min-height: 100vh; */
  /* display: flex;
  justify-content: center;
   align-items: center;
}*/

/* .product-container,
.cart-container {
  padding: 1em;
} */


 /* Cart start ------*/
 .flex-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 500px; */
  /* max-width: 500px; */
}
.flex-product {
  /* display: flex;
  align-items: center; */
  width:100%;
}
.bg-custom-color {
  background-color: #faf3df !important;
}

 /* Cart  end ------ */

.w-45 {
  width: 45px;
  text-align: center;
}

.count-container {
  display: flex;
  justify-content: flex-end;
}

.price-container {
  background-color: #d15385 !important;
  font-size: 12px;
  color:#ffffff;
}
.total-price-container {
  color: #d15385 !important;
  font-size: 20px;
}
.custom-alert {
  background-color: #faf3df !important;
  font-size: 12px;
}
